.HornContainer {
  max-height: 720px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 250px;
}

.AddIceCreamTitle {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
